.container {
    display: flex;
    flex-direction: column;
}

aside {
    order: 2;
}

main {
    order: 1;
}

@media (min-width: 745px) {
    .container {
        flex-flow: row nowrap;
    }

    aside {
        flex-basis: 33%;
        order: 1;
    }

    main {
        flex-basis: 67%;
        order: 2;
    }
}