.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* We need a bit more to make things look pretty */
    padding: 27.5rem 20rem;
    min-height: 100vh;
    font-size: 4rem;
}

.tile {
    flex: 1 1 20rem;

    /* For the children, THINK OF THE CHILDREN! */
    display: flex;
    align-items: center;
    justify-content: center;

    /* We need a bit more to make things ANIMATED (kinda) */
    transition: 0.1s ease-in-out;
}

.tile:hover {
    color: #000;
}
